<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%=full_path("/css/index.css")%>">
    <script src="<%=full_path("/main.js")%>"></script>
  </head>
  <body>
    <h1>Sinatra, running on AWS Lambda</h1>
    <h2>Stick that in your pipeline and smoke it!</h2>
  </body>
</html>
